/* @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); */

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(
        90deg,
        rgb(255, 255, 255),
        rgb(251, 251, 253)
    );
    background-repeat: repeat-y;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

p {
    color: rgb(39, 39, 39);
}

.swal-text {
    text-align: center;
}

/* .swal-modal {
    width:500px;
    height: 205px;
} */

/* .swal-icon--warning,
.swal-icon {
    margin-top: 0px;
    margin-bottom: 0;
    width: 60px;
    height: 60px;
} */
/* 

.swal-icon--warning__body {
    height: 25px;
    width: 5px;
    margin-left: 0px;
}

.swal-icon--sucess__hide-corners::after{ 
    height: 60px;
    width: 60px;
} */
/* .swal-icon--warning__body {
    height: 38px;
    margin-left: 0px;
}

.swal-icon--warning__dot {
    margin-left: -3px;
} */

.swal-icon {
    margin-top: 0px;
    margin-bottom: 0;
}
.swal-button {
    padding: 0.3rem 1.5rem;
    border-radius: 2px;
    background-color: #b9c2e0;
    font-size: 1rem;
    border: 1px solid #3e549a;
    text-shadow: 0px -1px 3px rgba(0, 0, 0, 0.3);
}

.swal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(245, 248, 250);
    padding-top: 2%;
    border-top: 1px solid #e9eef1;
    overflow: hidden;
}

@media screen and (max-width: 800px) {
    .swal-modal {
        width: 90%;
        height: 30%;
    }
}
